<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Client Filter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="application-page">
            <form action="fileuploaded" method="post" enctype="multipart/form-data">
                <div class="input-section">
                    <img src="images/Instruction_clientsFile.png" alt="1st column MUST be client credentials and 2nd column must be phone numbers"> <br>
                    <label for="fileId">1. Choose clients to filter (.xls or .xlsx)</label> <br>
                    <input type="file" name="clientsfile" id="clientsfile" accept=".xls,.xlsx">
                </div>

                <div class="input-section">
                    <img src="images/Instruction_unwantedPhoneNumbers.png" alt="1st column MUST be unwanted phone numbers"> <br>
                    <label for="fileId">2. Choose unwanted phone numbers (.xls or .xlsx)</label> <br>
                    <input type="file" name="unwantedclientsfile" id="unwantedclientsfile" accept=".xls,.xlsx">
                </div>

                <div class="input-section">
                    <label for="submit">3. Click "Filter" and get a filtered file </label> <br>
                    <input type="submit" value="Filter and Download">
                </div>
            </form>
        </div>
    </body>
</html>